.header-container {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
}

.feed-container {
  display: flex;
  justify-content: center;
}

.search-btn {
  cursor: pointer;
}
